<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                disableAnsi="false"
                noConsoleNoAnsi="false"
                pattern="%style{%d{HH:mm:ss.SSS}}{dim} [%t] %highlight{%-5level} %style{%logger{36}}{cyan} - %msg%n"
            />
        </Console>

        <ArcAppender name="ArcAppender">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"
            />
        </ArcAppender>

    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ArcAppender" />
        </Root>
    </Loggers>
</Configuration>