[Unit]
Description=IGVC CSharp Software 2026
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/scr/igvc_software_2026/igvc_csharp
ExecStartPre=/bin/sleep 5
ExecStart=/home/scr/.dotnet/dotnet run
Restart=always
RestartSec=5
User=scr

[Install]
WantedBy=multi-user.target