[Unit]
Description=IGVC CSharp Software 2026
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/scr/igvc_software_2026/setup/misc
ExecStartPre=/bin/sleep 2
ExecStart=/bin/bash /home/scr/igvc_software_2026/setup/misc/igvc_launch.sh
Restart=always
RestartSec=2
User=scr

[Install]
WantedBy=multi-user.target